<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.axway.apigwgcm">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="jackpal.androidterm.permission.RUN_SCRIPT" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />

    <permission
        android:name="com.axway.apigwgcm.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.axway.apigwgcm.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />

    <application
        android:name=".BaseApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_axwaylogo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/action_settings">

        </activity>

        <provider
            android:name=".db.DemoProvider"
            android:authorities="com.axway.apigwgcm"
            android:exported="false" />

        <service
            android:name=".accounts.AuthService"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>
<!--android:process=":sync"-->
        <service android:name="com.axway.apigwgcm.SyncService"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter"/>
        </service>

        <service android:name="com.axway.apigwgcm.GcmCommandService"
            android:exported="false"/>

        <activity
            android:name=".accounts.AuthActivity"
            android:configChanges="orientation"
            android:excludeFromRecents="true"
            android:label="@string/app_name" />
        <activity
            android:name=".activity.RegistrationActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".activity.TestOAuthActivity"
            android:label="@string/app_name" />

        <activity
            android:name=".activity.ManageCertsActivity"
            android:label="@string/app_name" />

        <receiver
            android:name=".GcmRcvr"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.axway.apigwgcm" />
            </intent-filter>
        </receiver>

        <service
            android:name=".GcmSvc"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
<!--
        <service
            android:name="com.axway.apigwgcm.IIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".MySyncService"
            android:exported="false">
        </service>
-->

        <activity
            android:name=".activity.MessagesActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.axway.gcm.demo.alerts" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.axway.gcm.demo.commands" />
                <data android:mimeType="vnd.android.cursor.dir/vnd.axway.gcm.demo.events" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MessageDetailActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="vnd.android.cursor.item/vnd.axway.gcm.demo.alerts" />
                <data android:mimeType="vnd.android.cursor.item/vnd.axway.gcm.demo.commands" />
                <data android:mimeType="vnd.android.cursor.item/vnd.axway.gcm.demo.events" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TriggersActivity"
            android:label="@string/action_triggers"
            android:parentActivityName=".activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.PICK" />

                <data android:mimeType="vnd.android.cursor.dir/vnd.axway.gcm.demo.triggers" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TriggerDetailActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.TriggersActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="vnd.android.cursor.item/vnd.axway.gcm.demo.triggers" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TriggerEditActivity"
            android:label="@string/app_name"
            android:parentActivityName=".activity.TriggersActivity">
            <intent-filter>
                <action android:name="android.intent.action.INSERT" />
                <action android:name="android.intent.action.EDIT" />

                <data android:mimeType="vnd.android.cursor.item/vnd.axway.gcm.demo.triggers" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>